<?xml version="1.0"?>

<launch>
  <arg name="Route_Name" default="Ruta"/>
  <arg name="Result_Name" default="Resultados"/>

  <node pkg="botanita" name="PID" type="PID_Punto.py" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">
    <param name="Route_Name" value="$(arg Route_Name)"/>
    <param name="Result_Name" value="$(arg Result_Name)"/>
  </node>

</launch>
