<?xml version="1.0"?>

<launch>
  <arg name="Route_Name" default="Ruta"/>
  <arg name="Result_Name" default="Resultados"/>

  <node pkg="botanita" name="Splines" type="Splines.py" output="screen">
    <param name="Route_Name" value="$(arg Route_Name)"/>
    <param name="Result_Name" value="$(arg Result_Name)"/>
  </node>

</launch>
