<launch>

   <param name="Do_CSV" default="False"/>
   <param name="CSV_Name" default="datos"/>

   <node pkg="botanita" name="Control_Motores" type="LQR_Kalman.py" output="screen">
      <param name="Do_CSV" value="$(arg Do_CSV)"/>
      <param name="CSV_Name" value="$(arg CSV_Name)"/>
   </node>

   
</launch>
